In [ ]:
#functions 
#syntax= def function_name(parameters):
#            "Docstring"
#            body of functions
#            return expresssion


#think about return type
#    body of functionns
#    return expressionn

In [2]:
def fun():
    print("Hello SFS")
fun()
fun()

Hello SFS
Hello SFS

In [20]:
def add(num1:int,num2:int):
    num3=num1+num2
    return num3
num1,num2=4,15
ans=add(num1,num2)
print("ans=",ans)

ans= 19

In [16]:
add(-200,-600)

-800

In [12]:
add(20,20)

19

In [19]:
add(200,500)

700

In [3]:
def sub(num1:int,num2:int):
    num3=num1-num2
    return num3  #return gives a only value itself, if we want our output statement then use print

In [4]:
sub(10,5)

5

In [25]:
sub(10,5)

5

In [40]:
sub(10,1)

9

In [6]:
def sub(num1:int,num2:int):
    num3=num1-num2
    print("ans= ",num3)   #return gives a only value itself, if we want our output statement then use print

In [7]:
sub(587,89)

ans=  498

In [35]:
def vowel_count(s):
    vowels="AEIOUaeiou"
    vc=0
    for ch in s:
        if ch in vowels:
            vc+=1
    return vc

In [36]:
vowel_count("Hello this is python class and this is Aditya R Bangare")

15

In [11]:
def addition():
    num1=int(input("Enter number: "))
    num2=int(input("Enter number: "))
    num3=num1+num2
    print("ans: ",num3)

In [15]:
addition()

Enter number: 3598674
Enter number: 9869746
ans:  13468420

In [ ]:
def ():
    num1

In [2]:
def even_odd(x):
    if(x%2==0):
        print("Even")
    else:
        print("Odd")

In [4]:
even_odd(5)

Odd

In [5]:
even_odd(4)

Even

In [7]:
def myFunction(x,y=13):
    print("x: ",x)
    print("y: ",y)

In [9]:
myFunction(1)

x:  1
y:  13

In [11]:
myFunction(1,14)

x:  1
y:  14

In [13]:
myFunction() #will generate error required atleast one value

TypeError: myFunction() missing 1 required positional argument: 'x'

In [15]:
def name(firstname,lastname):
    print(firstname,lastname)

In [19]:
name(lastname="Bangare",firstname="Aditya") #keyword argument send specific value to specific index

Aditya Bangare

In [21]:
name(firstname="Aditya",lastname="Bangare")

Aditya Bangare

In [23]:
name("Aditya","Bangare") #send value by

Aditya Bangare

In [25]:
# *args for passing multiple values,*args is non-keyword argument
def myFun(*mahindra):
    for arg in mahindra:
        print(arg)

In [27]:
myFun("scorpio","Thar","xuv700","bolero")

scorpio
Thar
xuv700
bolero

In [32]:
# **kwargs for passing multiple values, **kwargs is keyword argument
def myCar(**cars):
    for key,value in cars.items():
        print("%s = %s" % (key,value))

In [34]:
myCar(Mahindra= "Scorpio", Tata="Harrier", Hyundai="i20")

Mahindra = Scorpio
Tata = Harrier
Hyundai = i20

In [36]:
#write python fuunction to find max of three numbers
def max_of_two(x,y):
    if x>y:
        return x
    return y
def max_of_three(x,y,z):
    return max_of_two(x,max_of_two(y,z))

In [39]:
max_of_three(1,2,3)

3

In [41]:
max_of_three(-43,-78,-1)

-1

In [46]:
#define function accept two values and return add,sub,mul
def result(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    print("sum is {0} sub is {1} mul is {2}".format(sum,sub,mul))
a=int(input("Enter the value a: "))
b=int(input("Enter the value b: "))
result(a,b)

Enter the value a: 6
Enter the value b: 4
sum is 10 sub is 2 mul is 24

In [54]:
#wap to sum all number in list
def sum(numbers):
    total=0
    for x in numbers:
        total += x
    print("total=",total)

In [56]:
sum((1,2,3,4,5,6,7,8,9,10))

total= 55

In [2]:
#function for multiply all number in list
def mul(numbers):
    total=1
    for x in numbers:
        total*=x
    print("total multiplication is:",total)

In [3]:
mul([1,2,3,4,5])

total multiplication is: 120

In [9]:
#write a python function to calculate factorial of number
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
        print(n)
n=int(input("Enter the number: "))
print("factorial=",factorial(n))

Enter the number: 8
factorial= 40320

In [8]:
#write a python function that takes list and return new list with unique element of first list
def uniqueList(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
    return x
print(uniqueList([1,2,3,3,4,4,5,5,6]))

[1, 2, 3, 4, 5, 6]

In [9]:
print(uniqueList([1,2,3,3,4,4,5,5,6]))

[1, 2, 3, 4, 5, 6]

In [20]:
#write a python function that takes a number as parameter then later check number prime or not
def prime(num):
    if (num==1):
        return False
    elif (num==2):
        return True
    else:
        for x in range(2,num):
            if(num%x == 0):
                return False
        return True
print(prime(3))

True

In [26]:
#wap to print even numbers from given list
def even(l):
    enum=[]  #empty list
    for n in l:
        if n%2==0:
            enum.append(n)  #push element in list
    return enum  #print new list
print(even([1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]