In [4]:
for i in range(1,15):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [2]:
#wap to enter the marks of student in four subjects then calculate the total and aggregate and display the grade
#obtained by student if a student score aggregate >75% then grade is distinction if aggregate is below 75 grade 
#is first divison if aggregate is above 50 and 60 then grade is second division and if aggreagate is above 40 and
#and belw 50 then 3rd divison else grade fail...
mathematics=int(input("Enter mathematics marks: "))
science= int(input("Enter science marks: "))
social_science=int(input("Enter social science marks: "))
computer_science=int(input("Enter computer science marks: "))

total=mathematics+science+social_science+computer_science

print("total=",total)
avg=float(total/4)
print("aggregate=",avg)
if(avg>=75):
    print("Distinction")   
elif(avg>=60 and avg<75):
    print("First divison")
elif(avg>=50 and avg<60):
    print("Second divison")
elif(avg>=40 and avg<50):
    print("First division")
else:
    print("Fail")

Enter mathematics marks: 54
Enter science marks: 68
Enter social science marks: 98
Enter computer science marks: 78
total= 298
aggregate= 74.5
First divison

In [5]:
a=10
b=20
print(a+b)
print(b-a)

30
10

In [6]:
a=int(10)
b=int(20)
c=a+b
print(c)

30

In [2]:
a=int(input("Enter number:"))
b=int(input("Enter number:"))
c=a+b
print(c)

Enter number:56
Enter number:65
121

In [10]:
First_no=int(input("Enter number1:"))
Second_no=int(input("Enter number2:"))
Sub=First_no-Second_no
print(Sub)

Enter number1:10
Enter number2:20
-10

In [1]:
First_mul=int(input("Enter number"))
Second_mul=int(input("Enter number"))
mul=First_mul*Second_mul
print(mul)

Enter number5
Enter number3
15

In [5]:
#wap to calculate area of triangle using Herons formula
a=float(input("Enter first side of traingle. "))
b=float(input("Enter second side of triangle. "))
c=float(input("Enter third side of triangle. "))
print(a,b,c)
s=(a+b+c)/2
area_of_triangle=(s*(s-a)*(s-b)*(s-c))**0.5
print(area_of_triangle)

Enter first side of traingle. 3
Enter second side of triangle. 5
Enter third side of triangle. 6
3.0 5.0 6.0
7.483314773547883

In [10]:
#wap to calculate area of circle
radius=float(input("Enter radius: "))
print("\tradius=",radius)
area_of_circle=3.14*radius*radius
circumference=2*3.14*radius
print("\n\tarea_of_circle=",area_of_circle)
print("\n\tcircumference=",circumference)

Enter radius: 12
	radius= 12.0

	area_of_circle= 452.15999999999997

	circumference= 75.36

In [12]:
#wap to print the digit at ones place of number
num=int(input("Enter number"))
print("\n\tnum=",num)
digit=num%10
print("\n\tdigit=",digit)

Enter number1233

	num= 1233

	digit= 3

In [1]:
#wap to print digit at two places
num1=int(input("\tEnter number"))
print("\n\tnum1=",num1)
digit1=num1%100
print("\n\tdigit1=",digit1)

	Enter number1233

	num1= 1233

	digit1= 33

In [18]:
#wap to swap two digit
a=int(input("Enter number: "))
b=int(input("Enter number: "))
print("before",a,b)
temp=a
a=b
b=temp
print("after",a,b)

Enter number: 15
Enter number: 35
before 15 35
after 35 15

In [19]:
#wap to swap without using third variable
a=int(input("Enter number: "))
b=int(input("Enter number: "))
print("before",a,b)
a,b=b,a
print("after",a,b)

Enter number: 25
Enter number: 35
before 25 35
after 35 25

In [4]:
#average of four subject
maths=float(input("maths mark: "))
physics=float(input("physics mark: "))
chemistry=float(input("chemistry mark: "))
biology=float(input("biology mark: "))
total=maths+physics+chemistry+biology
avg=total/4
print("\nAverage of subject:",avg)

maths mark: 68
physics mark: 59
chemistry mark: 75
biology mark: 85

Average of subject: 71.75

In [2]:
percentage=65
if(percentage>35):
    print("pass")

pass

In [3]:
percent=25
if(percent>35):
    print("pass")
else:
    print("fail")

fail

In [4]:
percent=45
if(percent>35):
    print("pass")
else: 
    print("fail")

pass

In [5]:
x=1
if(x>0):
    x=x+1
print(x)

2

In [11]:
#wap to program to determine person eligible to vote or not
age=int(input("\tEnter age:"))
if(age>=18):
    print("\n\tEligible to vote")
else:
    print("\tNot eligible")

	Enter age:18

	Eligible to vote

In [7]:
#wap to find largest number among two number
number1=int(input("\tEnter the number1: "))
number2=int(input("\tEnter the number2: "))
if(number1>number2):
    print(number1, "is greater.")
else:
    print(number2, "is greater.")

	Enter the number1: 25
	Enter the number2: 12
25 is greater.

In [28]:
#wap that promt the user to enter a number between 1-7 and then 
#display corresponnding day of week
num=int(input("Enter the number between 1-7: "))
if(num==1):
    print("Monday") 
elif(num==2):
    print("Tuesday")
elif(num==3):
    print("wednesday")
elif(num==4):
    print("thursday")
elif(num==5):
    print("friday")
elif(num==6):
    print("saturday")
elif(num==7):
    print("sunday")
else:
    print("Invalid number")

Enter the number between 1-7: 5
friday

In [5]:
#wap to whether the character the given is vowel or not
character=input("Enter character: ")
if(character=='A' or character=='E' or character=='I' or character=='O' or character=='U' or 
   character=='a' or character=='e' or character=='i' or character=='o' or character=='u'):
    print("It is vowel")
else:
    print("Not vowel")

Enter character: e
It is vowel

In [18]:
n = int(input())
if n%2==0:
    
    if n in range(2, 6):
        print("Not weird")
    elif n in range(6,21):
        print("Weird")
    elif(n>20):
        print("Not Weird")
else:
    print("Weird")

4
Not weird

In [3]:
#wap to check given number is positive,negative or zero
num=int(input("Enter the number: "))
if num>0:
    print(num,"is positive")
elif num<0:
    print(num,"is negative")
else:
    print(num,"is zero")

Enter the number: -1
-1 is negative

In [9]:
#wap to check if a number is odd or even
num=int(input("ENter the number: "))
if num%2==0:
    print("{0} is even number".format(num))
if num%2!=0:
    print("{0} is odd number".format(num))

ENter the number: 5
5 is odd number

In [15]:
#wap to check leap year
year=int(input("Enter the year: "))
if (year%4==0) or (year%400==0):
    print("{0} is a leap year".format(year))
else: 
    print("{0} is not leap year".format(year))

Enter the year: 1996
1996 is a leap year

In [24]:
list_a=[1,2,3,4,5,6,7,8]
print(list_a)
seq=list_a[::3]
print(seq)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 7]

In [10]:
list_2=list(input("Enter the list: "))
print(list_2)

Enter the list: 1233654
['1', '2', '3', '3', '6', '5', '4']

In [3]:
#create a list alpha which contain a alphabet characters;
alpha=["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
print(alpha[25])
print(alpha[9])
print(alpha[0:25:2])
print(alpha[0:16:2])
print(alpha[:16:1])
print(alpha[-1:-26:-1])
alpha.reverse()
print(alpha)

Z
J
['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']
['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P']
['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B']
['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [31]:
#create list num list
num_list=[100,200,300,400,500,600,700,800,900,1000]
print("num_list: ",num_list)
print(num_list[1:3])
print(num_list[::])
print(num_list[2:6])
print(num_list[1::3])
num_list.append(1100)
print(num_list)
num_list.append(1200)
print(num_list)
del num_list[10]
print(num_list)
num_list.remove(800)
print(num_list)
num_list.remove(600)
print(num_list)

num_list:  [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
[200, 300]
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
[300, 400, 500, 600]
[200, 500, 800]
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1200]
[100, 200, 300, 400, 500, 600, 700, 900, 1000, 1200]
[100, 200, 300, 400, 500, 700, 900, 1000, 1200]

In [19]:
#repeat list
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

l1*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [42]:
len(l1)

5

In [5]:
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
print(2 in l1)
print(12 in l2)

True
False

In [14]:
for i in l1+l2:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
list_1=list(input())
print(list_1)

56
['5', '6']

In [29]:
#Declaring the empty list  
l =[]  
#Number of elements will be entered by the user    
n = int(input("Enter the number of elements in the list:"))  
# for loop to take the input  
for i in range(0,n):     
    # The input is taken from the user and added to the list as the item  
    l.append(input("Enter the item:"))     
print("printing the list items..")   
# traversal loop to print the list items    
for i in l:   
    print(i, end = "  ")

Enter the number of elements in the list:5
Enter the item:ask
Enter the item:a
Enter the item:23f
Enter the item:23r55
Enter the item:4664
printing the list items..
ask   a   23f  23r55  4664

In [33]:
list = [0,1,2,3,4]     
print("printing original list: ");    
for i in list:    
    print(i,end=" ")    
list.remove(2)    
print("\nprinting the list after the removal of first element...")    
for i in list:    
    print(i,end=" ")

printing original list:
0 1 2 3 4
printing the list after the removal of first element...
0 1 3 4

In [46]:
list_a=[0,1,2,3,5]
for i in list_a:
    print(i, end=" ")
print("\n",list_a)

0 1 2 3 5
 [0, 1, 2, 3, 5]

In [22]:
list_p=[1,2,3,4,5,6,7]
list_q=[1,2,3,4,0,8,8,7,]
print(max(list_q))
print(min(list_p))
print(len(list_p))
list_p.reverse()
print(list_q)
list_q.count(8)
list_p.insert(2,11)
print(list_p)

8
1
7
[1, 2, 3, 4, 0, 8, 8, 7]
[7, 6, 11, 5, 4, 3, 2, 1]

In [7]:
var1="Hello Aditya"
var2="Python programming"
var3="Hello python"
print(var1)
print(var1[0])
print(var2[1:5])
print(var2[1:16:2])
print("updated string: ",var3[:6]+'Aditya')

Hello Aditya
H
ytho
yhnpormi
updated string:  Hello Aditya

In [11]:
name='abc'
number=2
print('%s %d' % (name,number))

abc 2

In [14]:
print("My name is %s and my age is %d." % ('Aditya',22))

My name is Aditya and my age is 22.

In [18]:
para_str = """ THis is long string that is made uup of several
liines and non printable character such as tab(\t) and they willl
 show wheter explicitly newline(\n) within a few."""
print(para_str)

 THis is long string that is made uup of several
liines and non printable character such as tab(	) and they willl
 show wheter explicitly newline(
) within a few.

In [21]:
print(r'c:\\nowhere')
print('c:\\nowhere')

c:\\nowhere
c:\nowhere

In [25]:
txt="hello python programming"
x=txt.capitalize()#convert uppar case to only first letter of string
print(x)

Hello python programming

In [26]:
txt="Hello Python programming"
x=txt.casefold()#convert uppercase to lowecase of all starting of words
print(x)

hello python programming

In [31]:
txt="banana"
x=txt.center(80)#shift by 80 character to forward
print(x)

                                     banana

In [35]:
txt="Hello this is apple and its color is red."
x=txt.count("s")#count how many time a string/letter appear in sentence
print(x)

4

In [36]:
txt="My name is Aditya"
x=txt.encode()
print(x)

b'My name is Aditya'

In [49]:
txt1="Aditya123"
txt2="123456"
x1=txt1.isalnum()#check alphanumeric values print true else false
x2=txt2.isalpha()#check alphabet are available or not print true else false
print(x1)
print(x2)

True
False

In [51]:
txt="aditya"
txt2="ADITYA"
x=txt.upper()#convert lowercase to uppercase
x2=txt2.lower()#convert uppercase to lowercase
print(x)
print(x2)

ADITYA
aditya

In [53]:
txt="Hello this Is pyTHon CLAss"
x=txt.swapcase()#convert upper to lower and lower to uppper
print(x)

hELLO THIS iS PYthON claSS

In [55]:
txt=input("Enter the string")
print("before swap: ",txt)
x=txt.swapcase()
print("After swap: ",x)

Enter the stringaDiTyA
before swap:  aDiTyA
After swap:  AdItYa

In [59]:
txt=input("Enter the string: ")
print("before: ",txt)
x1=txt.upper()
x2=txt.lower()
print("After: ",x1)
print("after: ",x2)

Enter the string: Aditya RAVI bangare
before:  Aditya RAVI bangare
After:  ADITYA RAVI BANGARE
after:  aditya ravi bangare

In [61]:
txt="I like banana"
print("Before: ",txt)
x=txt.replace("banana","apple")#replace given string
print("After: ",x)

Before:  I like banana
After:  I like apple

In [64]:
myTuple=(":Aditya","Ravi","Bangare.")
x="_".join(myTuple)#join string
print(x)

:Aditya_Ravi_Bangare.

In [66]:
txt="Welcome to python "
x=txt.startswith("Welcome")#check string start with given word or not
print(x)

True

In [ ]:
txt="\u0010" #\u for unicode 00 is compulsory after \u
x

In [70]:
txt="Hello this is title!"
txt1="HElllo\n are u"
x=txt.istitle()
y=txt.isdigit()
z=txt1.isprintable()
a=txt.rfind("this")
print(x)
print(y)
print(z)
print(a)

False
False
False
6

In [72]:
thisTuple=("apple","banana","cherry","cherry")
print(thisTuple)

('apple', 'banana', 'cherry', 'cherry')

In [ ]:
#tuple item
#tuple items are ordered, unchangeble, and allow duplicate values.
#tuple items are indexed the first item has index[0],second value is