In [2]:
#sets
mySet1={1,2,3,4,5,6,7,8,9}
print(mySet1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
print(len(mySet1))

9

In [5]:
print(type(mySet1))

<class 'set'>

In [8]:
mySet2={"Aditya","Ravi","Bangare"}
for i in mySet2:
    print(i)

Aditya
Ravi
Bangare

In [10]:
print("Aditya" in mySet2)

True

In [17]:
mySet2.add("MCA")
print(mySet2)

{'Aditya', 'Ravi', 'Bangare', 'MCA'}

In [19]:
mySet3={"pune","First_year","BMW","Audi"}
mySet2.update(mySet3)
print(mySet2)

{'BMW', 'Audi', 'Aditya', 'pune', 'Ravi', 'Bangare', 'First_year', 'MCA'}

In [24]:
mySet2.remove("MCA")
print(mySet2)

{'BMW', 'Audi', 'Aditya', 'pune', 'Ravi', 'Bangare'}

In [26]:
mySet2.discard("pune")
print(mySet2)

{'BMW', 'Audi', 'Aditya', 'Ravi', 'Bangare'}

In [28]:
# remove() method gives an error if remove element is not present in set
mySet2.remove("ABC")
print(mySet2)

KeyError: 'ABC'

In [30]:
# discard() method does not show error if element not present in memory 
mySet2.discard("ABC")
print(mySet2)

{'BMW', 'Audi', 'Aditya', 'Ravi', 'Bangare'}

In [32]:
mySet2.pop() #sets are unordered so we will not know what item gets remove
print(mySet2)

{'Aditya', 'Ravi', 'Bangare'}

In [34]:
mySet3={1,2,3,4,5,6}
mySet3.clear()
print(mySet3)

set()

In [37]:
#it will give error because we are deleting set
mySet4={1,2,3,4,5,6}
del mySet4
print(mySet4)

NameError: name 'mySet4' is not defined

In [39]:
#union will combine both sets
set1={1,2,3,4,5,6}
set2={7,8,9,10,11,12}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [44]:
#intersection will return items that are present in both sets
set_A={'a','b','c','d'}
set_B={'c','d','e','f'}
x=set_A.intersection(set_B)
print(x)

{'d', 'c'}

In [46]:
#symmetric difference will return items that are present in only one set
set1={1,2,3,4,5,6,7,8}
set2={5,6,7,8,9,10,11}
x=set1.symmetric_difference(set2)
print(x)

{1, 2, 3, 4, 9, 10, 11}

In [47]:
mySet={1,2,3,4,5,6}
x=mySet.copy()
print(x)

{1, 2, 3, 4, 5, 6}